<h2>SignIN</h2>
 
<form action="/authentication/sign-in" method="POST" id="form-container">
  <div>
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
  </div>
 
  <div>
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
  </div>
 
  <div>
    <button>Log in</button>
  </div>